{% extends 'catalog/basic.html' %}

{% block content %}

<div class="text-center container">
    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'catalog:create' %}" type="button">Create Product</a>
        {% else %}
        <a class="btn btn-outline-primary">Создавать товары могут только зарегистрированные пользователи</a>
        {% endif %}
</div>

<div class="album py-5 bg-body-tertiary">
    <div class="text-center container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for object in object_list %}
            {% include 'catalog/includes/inc_product.html' %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}